<h2><%= l(:redmine_taskjuggler)%></h2>

<h4><%= l(:project)%> : <%= @project %> - <%= @project.identifier %> </h4>
<p>TJ Teams can be administered <a href="/redmine_taskjuggler_teams">here</a>.</p>
<!-- Taskjuggler work on the server -->
<%
if Setting.plugin_redmine_taskjuggler["tjp_path"].length > 1 then
%>
<p>
<a href="./<%= params[:id] %>/tjp_to_server">Export TJP File to Server</a>
</p>
<p>
<%= submit_tag "Compute in TJ", :type => 'button', :onclick => "javascript:tj3_com()" %>
</p>
<textarea id='placeForText' cols='90' rows='20' disabled></textarea>
<p>
<a href="/taskjuggler"> Taskjuggler html-reports </a>
</p>
<p>
  <%= form_tag('./' + params[:id] + "/csv", :multipart => true) do %>
  <% file_field_tag 'csvfile', :accept => 'text/csv', :value => @project.identifier + "-" + @project.tj_version.to_s.sub(".","_") + ".csv" %>
  <%= submit_tag "Update CSV" %>
  <% end %>
</p>
<%
else
%>
Set up server path <a href="/settings/plugin/redmine_taskjuggler">here</a> for workflow on server (requires tj_client on server).
<%
end
%>
<!-- Taskjuggler work on computer -->
<fieldset>
<p>Round-trip workflow :
<ol>
  <li><a href="./<%= params[:id] %>/tjp">Export TJP File</a></li>
  <li>Compute in TaskJuggler : <code>$ tj3 <%= @project.identifier.gsub(/-/,"_") %>-<%= @project.tj_version %></code></li>

  <li>See HTML file: <%= 'redmine_update_issues_html_' %><%= @project.identifier.gsub(/-/,"_") %>_<%= @project.tj_version.to_s.gsub(/\./,"_") + ".html" %> </li>

  <li>Update CSV File <%= form_tag('./' + params[:id] + "/csv", :multipart => true) do %>
  <%= file_field_tag 'csvfile', :accept => 'text/csv', :value => @project.identifier + "-" + @project.tj_version.to_s.sub(".","_") + ".csv" %>
  <%= submit_tag %>
  <% end %></li>
</ol>

</fieldset>
<hr/>
<p style="text-align: center">
<%= l(:redmine_taskjuggler)%> v. <%= RedmineTaskjuggler::Application.instance.version %> (c) 2009 - 2013 Christopher Mann
<a href="https://github.com/chris2fr/redmine_taskjuggler">https://github.com/chris2fr/redmine_taskjuggler</a>
<br/>
<%= l(:taskjuggler)%> (c) 2003 - 2013
 Chris Schlaeger 
<a href="http://www.taskjuggler.org">http://www.taskjuggler.org</a>
<br/>
Redmine (c) 2006-2013 Jean-Philippe Lang <a href="http://www.redmine.org">http://www.redmine.org</a>
<br/>
<i>The glass for Free and Open-Source project management software solutions that go together like cookies and milk!</i>
<%= Setting.plugin_redmine_taskjuggler %>
</p>

<%
if Setting.plugin_redmine_taskjuggler["tjp_path"].length > 1 then
%>

<script type="text/javascript">
function tj3_com(){

	<% name_file = "#{@project.identifier.gsub(/-/,'_')}" + '-' + "#{@project.tj_version.to_s.gsub(/\./,'_')}"  + '.tjp' %>
	<% name_proj = "#{@project.identifier.gsub(/-/,'_')}" %>
	<% name_csvrep = 'redmine_update_issues_csv_'+ "#{@project.identifier.gsub(/-/,'_')}" + '_' + "#{@project.tj_version.to_s.gsub(/\./,'_')}" %>
	<% name_htmlrep = 'redmine_update_issues_html_'+ "#{@project.identifier.gsub(/-/,'_')}" + '_' + "#{@project.tj_version.to_s.gsub(/\./,'_')}" %>

	
	<%# Dir.chdir Setting.plugin_redmine_taskjuggler["tjp_path"] %>

	<% content = "\n \n" %>
	
	<% target = "tj3d.log" %>
	<%# File.open(target, "w+") do |f| %>
  	<%# f.write(content) %>
	

	<%# outp1 = IO.popen("tj3client add #{name_file}"){|tj3_io| tj3_result = tj3_io.read} %>

	document.getElementById('placeForText').innerHTML=document.getElementById('some_doing').innerHTML

	<%# IO.popen("tj3client report #{name_proj} #{name_csvrep}") %>

	<%# f = IO.readlines("tj3d.log") %>
	<%# outp2 = f[-1] %>
	

}
</script>
<%
end
%>
<script type="text/template" id="some_doing">

  <%#= outp2 %>

  <%#= outp1 %>
  
</script>


