
<h2><%= l(:redmine_taskjuggler)%></h2>

<%= l(:project)%> : <%= @project %> - <%= @project.identifier %>

<p>Round-trip workflow :
<ol>
  <li><a href="./<%= params[:id] %>/tjp">Export TJP File</a></li>
  <li>Compute in TaskJuggler</li>
  <li>Update CSV File <%= form_tag('./' + params[:id] + "/csv", :multipart => true) do %>
  <%= file_field_tag 'csvfile', :accept => 'text/csv', :value => @project.identifier + "-" + @project.tj_version.to_s.sub(".","_") + ".csv" %>
  <%= submit_tag %>
<% end %></li>
</ol>

<hr/>
<p style="text-align: center">
<%= l(:redmine_taskjuggler)%> v. <%= RedmineTaskjuggler::Application.instance.version %> (c) 2009 - 2013 Christopher Mann
<a href="https://github.com/chris2fr/redmine_taskjuggler">https://github.com/chris2fr/redmine_taskjuggler</a>
<br/>
<%= l(:taskjuggler)%> (c) 2003 - 2013
 Chris Schlaeger 
<a href="http://www.taskjuggler.org">http://www.taskjuggler.org</a>
<br/>
Redmine (c) 2006-2013 Jean-Philippe Lang <a href="http://www.redmine.org">http://www.redmine.org</a>
<br/>
<i>The glass for Free and Open-Source project management software solutions that go together like cookies and milk!</i>
</p>