<h2>TjTeamsController#index</h2>

<% @tj_teams.each do |team| %>

  <p>
    <%# link_to team.name, { :action => 'detail', :id => team[:id]}, method => 'get' } %>
    <a href="/redmine_taskjuggler_teams/detail/<%= team.id %>"><%= team.name %></a>
  </p>

<% end %>

<%= form_tag("/redmine_taskjuggler_teams/new", method: "post") do %>
  <%= label_tag(:tj_team_name, "New team :") %>
  <%= text_field_tag(:tj_team_name) %>
  <%= submit_tag("New") %>
<% end %>

Plugin settings are <a href="/settings/plugin/redmine_taskjuggler">here</a>.