<fieldset class="tabular"><legend><%= l(:redmine_taskjuggler) %></legend>
<%= labelled_fields_for(@user) do |f| %>
<div id="taskjuggler" class="attributes">
  <p>
  <%= f.label :tj_activated %>
  <%= f.check_box :tj_activated, :default => 1 %> <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_activated) %>')">(?)</a>
  </p>
  <p>
  <%= f.label :tj_parent %>
  <%= f.text_field :tj_parent %>
  <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_parent) %>')">(?)</a>
  </p>
  <p>
  <%= f.label :tj_rate %>
  <%= f.text_field :tj_rate, size: 8 %>
  <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_rate) %>')">(?)</a>
  </p>
  <p>
  <%= f.label :tj_vacations %>
  <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_vacations) %>')">(?)</a>
  <%= f.text_area :tj_vacations, rows: 5 %>
  
  </p>
  <p>
  <%= f.label :tj_limits %>
  <%= f.text_field :tj_limits %>
  <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_limits) %>')">(?)</a>
  </p>
</div>
<% end %>