<SELECT NAME="time_entry[<%= issue.id%>]">
		<OPTION VALUE="0" <%
			if @time_entries_hours[issue.id] == 0
				%> SELECTED <%
			end
		%>>0</OPTION>
		<OPTION VALUE="8"<%
			if @time_entries_hours[issue.id] == 8
				%> SELECTED <%
			end
		%>>1</OPTION>
		<OPTION VALUE="4"<%
			if @time_entries_hours[issue.id] == 4
				%> SELECTED <%
			end
		%>>1/2</OPTION>
		<OPTION VALUE="2"<%
			if @time_entries_hours[issue.id] == 2
				%> SELECTED <%
			end
		%>>1/4</OPTION>
		<OPTION VALUE="1"<%
			if @time_entries_hours[issue.id] == 1
				%> SELECTED <%
			end
		%>>1/8</OPTION>
		<OPTION VALUE="6"<%
			if @time_entries_hours[issue.id] == 6
				%> SELECTED <%
			end
		%>>3/4</OPTION>
		<OPTION VALUE="3"<%
			if @time_entries_hours[issue.id] == 3
				%> SELECTED <%
			end
		%>>3/8</OPTION>
		<OPTION VALUE="5"<%
			if @time_entries_hours[issue.id] == 5
				%> SELECTED <%
			end
		%>>5/8</OPTION>
	</SELECT> <%= @tracker_list[issue.tracker_id] %> <%= @status_list[issue.status_id] %> <%= @project_list[issue.project_id] %> <%= @category_list[issue.category_id] %> 
	<%= issue.id %> <%= issue.subject %>