Mise à jour du la suite :

<a href="/taskjuggler/timetable?user_id=<%= params[:user_id] %>&issue_id=<%= params[:issue_id] %>&date=<%= params[:date] %>"> Retour </a>

<%= debug(params) %>

<a href="/taskjuggler/timetable?user_id=<%= params[:user_id] %>&issue_id=<%= params[:issue_id] %>&date=<%= params[:date] %>"> Retour </a>