<H2><%= l(:update_label) %></H2>
<a href="/taskjuggler/timetable?user_id=<%= params[:user_id] %>&issue_id=<%= params[:issue_id] %>&date=<%= params[:date] %>"> <%= l(:back_label) %> </a>
<H2 align="center"><%= l(:present_label) %></h2>
<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_table.html.erb'), :locals => { :date_debut => @date - 9, :date_fin => @date + 9 } %>

<H2 align="right"><%= l(:future_label) %></h2>
<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_table.html.erb'), :locals => { :date_debut => @date + 10, :date_fin => @date + 29 } %>
<H2 align="left"><%= l(:past_label) %></h2>
<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_table.html.erb'), :locals => { :date_debut => @date - 29, :date_fin => @date - 10 } %>
<a href="/taskjuggler/timetable?user_id=<%= params[:user_id] %>&issue_id=<%= params[:issue_id] %>&date=<%= params[:date] %>"> <%= l(:back_label) %> </a>

<H2>By Category</H2>

<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_cattable.html.erb'), :locals => { :date_debut => @date + 10, :date_fin => @date + 29 } %>