<!-- encoding: utf-8 -->
<!-- view_issues_show_description_bottom -->

<hr />
<strong><%= l(:taskjuggler) %></strong>

<div id="taskjuggler" class="attributes">
    <div class="splitcontent">
        <div class="splitcontentleft">
          <p>
          <%= l(:tj_activated) %> :
          <%= @issue.tj_activated %>
          <br/>
          <%= l(:tj_scheduled) %> :
          <%= @issue.tj_scheduled %>
<!-- add priority for the issue -->
          <br/>
          <%= l(:tj_priority) %> : 
          <%= @issue.priority %>
	  </p>

        </div> 
        <div class="splitcontentright">
          <p>
          <%= l(:tj_allocates) %> : 
          <%= @issue.tj_allocates %>
          <br/>
          <%= l(:tj_limits) %> : 
          <%= @issue.tj_limits %>
	  <br/>
          <%= l(:tj_issue_etc) %> : 
          <%= @issue.tj_issue_etc %>
         </p>
        </div>
    </div>
</div>
