<fieldset class="tabular"><legend><%= l(:redmine_taskjuggler) %></legend>
<%= labelled_fields_for(@issue) do |f| %>

<div id="taskjuggler" class="attributes">
    <div class="splitcontent">
        <div class="splitcontentleft">
            <p>
            <%= f.label :tj_activated %>
            <%= f.check_box :tj_activated, :default => 1 %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_activated) %>')">(?)</a>
            </p>
           <p>
              <%= f.label :tj_scheduled %>
              <%= f.check_box :tj_scheduled, :default => 1 %>
              <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_scheduled) %>')">(?)</a>
            </p>

<!-- add priority for the issue -->
		<p>
            <%= f.label :tj_priority %>
	    <%= f.text_field :tj_priority %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_priority) %>')">(?)</a>
            </p>


        </div>
        <div class="splitcontentright">

           <p>
            <% users_array = User.all.map { |user| [user.firstname + ' ' + user.lastname, user.login.sub('-','_') ] } %>
            <%= f.label :tj_allocates %>
            <%= select(:issue,:tj_allocates,users_array) %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_allocates) %>')">(?)</a>
          </p>
          <p>
            <%= f.label :tj_limits %>
            <%= f.text_field :tj_limits %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_limits) %>')">(?)</a>
          </p>
	  <p>
            <%= f.label :tj_issue_etc %>
            <%= f.text_field :tj_issue_etc %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_issue_etc) %>')">(?)</a>
          </p>
	


<% end %>
</fieldset>


