<fieldset class="tabular"><legend><%= l(:redmine_taskjuggler) %></legend>
<%= labelled_fields_for(@issue) do |f| %>

<div id="taskjuggler" class="attributes">
    <div class="splitcontent">
        <div class="splitcontentleft">
            <p>
            <%= f.label :tj_activated %>
            <%= f.check_box :tj_activated, :default => 1 %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_activated) %>')">(?)</a>
            </p>
           <p>
              <%= f.label :tj_scheduled %>
              <%= f.check_box :tj_scheduled, :default => 1 %>
              <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_scheduled) %>')">(?)</a>
            </p>

<!-- add priority for the issue -->
		<p>
            <%= f.label :tj_priority %>
	    <%= f.text_field :tj_priority %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_priority) %>')">(?)</a>
            </p>


        </div>
        <div class="splitcontentright">
<!--
           <p>
            <% users_array = User.all.map { |user| [user.firstname + ' ' + user.lastname, user.login.sub('-','_') ] } %>
            <%= f.label :tj_allocates %>
            <%= select(:issue,:tj_allocates,users_array) %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_allocates) %>')">(?)</a>
          </p>
          <p>
            <%= f.label :tj_limits %>
            <%= f.text_field :tj_limits %>
            <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_limits) %>')">(?)</a>
            </p>
-->

	   <table id="ResTable" cellspacing="0" border="1" width="850">
	     <thead>
	     <tr>
		<th width="450" align = center> TJ allocation <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_allocates) %>')">(?)</a> </th>
		<th width="200" align = center> TJ efficiency <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_efficiency) %>')">(?)</a> </th>
		<th width="200" align = center> TJ limits <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_limits) %>')">(?)</a> </th>
	     </tr>
	     </thead>
	     <tbody>
	     <tr>
		<% users_array = User.all.map { |user| [user.firstname + ' ' + user.lastname, user.login.sub('-','_') ] } %>
		<td> <%= select(:issue,:tj_allocates,users_array) %> </td>
		<td> <%= f.text_field :tj_efficiency %> </td>
		<td> <%= f.text_field :tj_limits %> </td>
	     </tr>
	     </tbody>
	   </table>
<!--	<a href="#" onclick="javascript:addRow('ResTable');return false;"> Добавить строку </a>  -->
        <a href="#" onclick="javascript:addRow('ResTable');return false;"> Add string </a>

        </div>
    </div>
</div>

<script type="text/javascript">
function addRow(id){
    var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
    var row = document.createElement("TR")
    var td1 = document.createElement("TD")
    var td2 = document.createElement("TD")
    var td3 = document.createElement("TD")
    
    row.appendChild(td1);
    row.appendChild(td2);
    row.appendChild(td3);

    td1.innerHTML = '<%= select(:issue,:tj_allocates,users_array) %>'
    td2.innerHTML = '<%= f.text_field :tj_efficiency %>'
    td3.innerHTML = '<%= f.text_field :tj_limits %>'

    tbody.appendChild(row);

  }
</script>

<% end %>
</fieldset>


