<DT><SELECT NAME="time_entry[<%= issue.id%>]">
		<OPTION VALUE="0" <%
			if @time_entries_hours[issue.id] == 0
				%> SELECTED <%
			end
		%>>0</OPTION>
		<OPTION VALUE="8"<%
			if @time_entries_hours[issue.id] == 8
				%> SELECTED <%
			end
		%>>1</OPTION>
		<OPTION VALUE="4"<%
			if @time_entries_hours[issue.id] == 4
				%> SELECTED <%
			end
		%>>1/2</OPTION>
		<OPTION VALUE="2"<%
			if @time_entries_hours[issue.id] == 2
				%> SELECTED <%
			end
		%>>1/4</OPTION>
		<OPTION VALUE="1"<%
			if @time_entries_hours[issue.id] == 1
				%> SELECTED <%
			end
		%>>1/8</OPTION>
		<OPTION VALUE="6"<%
			if @time_entries_hours[issue.id] == 6
				%> SELECTED <%
			end
		%>>3/4</OPTION>
		<OPTION VALUE="3"<%
			if @time_entries_hours[issue.id] == 3
				%> SELECTED <%
			end
		%>>3/8</OPTION>
		<OPTION VALUE="5"<%
			if @time_entries_hours[issue.id] == 5
				%> SELECTED <%
			end
		%>>5/8</OPTION>
		<OPTION VALUE="7"<%
			if @time_entries_hours[issue.id] == 7
				%> SELECTED <%
			end
		%>>7/8</OPTION>
	</SELECT>[<%= @category_list[issue.category_id] %>]  <%= @project_list[issue.project_id] %> 
	<a href="/issues/show/<%= issue.id%>">#<%= issue.id %></a>. "<b><%= issue.subject %></b>" (<%= @status_list[issue.status_id] %>)</DT> <DD><INPUT TYPE="text" SIZE="35" NAME="time_entires_comments[<%= issue.id%>]" VALUE="<%= @time_entries_comments[issue.id] %>" /> (<INPUT NAME="issues_estimates[<%= issue.id%>]" TYPE="text" SIZE="2" VALUE="<%= issue.estimated_hours.to_f() / 8.0 %>">&nbsp;j/h&nbsp;est.
<%= issue.spent_hours.to_f() / 8.0 %>&nbsp;j/h&nbsp;saisis)</DD>