<!-- encoding: utf-8 -->
<%
# Only show this bit if the module is enabled and the person can see it
%>
<% if @project.module_enabled?("redmine_taskjuggler") and User.current.allowed_to?(:redmine_taskjuggler_projects_view) %>
<fieldset class="tabular"><legend>redmine_taskjuggler</legend>
<% tr = @project.tj_timingresolution %>
<%= labelled_fields_for(@project) do |f| %>
<div id="taskjuggler" class="attributes">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%= f.label :tj_version %>
        <%= f.text_field :tj_version %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_version) %>')">(?)</a>
      </p>
      <p>
        <%= f.label :tj_dailyworkinghours %>
        <%= f.text_field :tj_dailyworkinghours %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_dailyworkinghours) %>')">(?)</a>
      </p>
      <p>
        <%= f.label :tj_period %>
        <%= f.text_field :tj_period %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_period) %>')">(?)</a>
      </p>
      <p>
        <%= f.label :tj_currency %>
        <%= f.text_field :tj_currency%>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_currency) %>')">(?)</a>
      </p>
    </div>
    <div class="splitcontentright">
      <p>
        <%= f.label :tj_now %>
        <%= f.text_field :tj_now %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_now) %>')">(?)</a>
      </p>
      <p>
        <%= f.label :tj_numberformat %>
        <%= f.text_field :tj_numberformat %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_numberformat).gsub(/\n/,"\\n") %>')">(?)</a>
      </p>
            <p>
        <%= f.label :tj_timingresolution %>
        <%= select_tag("tj_timingresolution",options_for_select([["15min","15min"],["30min","30min"],["1h","1h"]],tr),:width => 8) %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_timingresolution).gsub(/\n/,"\\n") %>')">(?)</a>
      </p>     
      <p>
        <%= f.label :tj_timeformat %>
        <%= f.text_field :tj_timeformat %>
        <a href="#" onClick="javascript:confirm('<%= l(:tooltip_tj_timeformat).gsub(/\n/,"\\n")  %>')">(?)</a>
      </p>
    </div>
  </div>
</div>
<% end %>
</fieldset>
<% end %>