<!-- encoding: utf-8 -->
<div class="issues box">
<p>
  <h3><%= l(:tj_activated) %></h3>
  <%= l(:tj_activated) %> : 
  <%= @project.tj_activated%>
<br/>
  <%= l(:tj_version) %> :
  <%= @project.tj_version %>
<br/>
  <%= l(:tj_dailyworkinghours) %> :
  <%= @project.tj_dailyworkinghours %>
<br/>
  <%= l(:tj_period) %> :
  <%= @project.tj_period %>
<br/>
  <%= l(:tj_currency) %> :
  <%= @project.tj_currency%>
<br/>
  <%= l(:tj_now) %> :
  <%= @project.tj_now %>
<br/>
  <%= l(:tj_numberformat) %> :
  <%= @project.tj_numberformat %>
<br/>
  <%= l(:tj_timingresolution) %> :
  <%= @project.tj_timingresolution%>
<br/>
  <%= l(:tj_timeformat) %> :
  <%= @project.tj_timeformat %>
</p>
</div>