<div align="center"><A HREF="/redmine_workload/summary"><%= l(:summary_all_label) %></A>


<HR/>
<FORM action="/redmine_workload/timetable">
<%= l(:user_label) %> : <SELECT NAME="user_id">
<%
@users.each do |user|
%>
<OPTION VALUE="<%= user.id%>" <%
if user.id == @current_user_id
	@current_user_name = user.name
%> SELECTED <%
end
%>><%=user.name%></OPTION>
<%
end
%>
</SELECT>
<%= l(:date_label) %> : <input type="text" name="date" value="<%= @current_date %>">
 <input type="submit" value="<%= l(:changeuseranddate_label) %>">
</FORM>
<BR/>
<%
@current_date = Date::parse(@current_date.to_s())
if @current_date.wday == 1
	follow_adjust = 0
	previous_adjust = 2
elsif @current_date.wday == 5
	follow_adjust = 2
	previous_adjust = 0
else
	follow_adjust = 0
	previous_adjust = 0
end
%>
<a href="/redmine_workload/timetable?user_id=<%=@current_user_id %>&date=<%= (@current_date - 1 - previous_adjust ).to_s() %>"> <-- <%= l(:previous_day_label) %></a>
|
<a href="/redmine_workload/timetable?user_id=<%=@current_user_id %>&date=<%= (@current_date + 1 + follow_adjust).to_s() %>"><%= l(:following_day_label) %> --></a>
<BR>
<A href="/redmine_workload/timetable_summary?user_id=<%= @current_user_id%>&date=<%= @current_date %>"><%= l(:consult_timetable_of_label) %> : <%=  @current_user_name %></a>
</div>
<HR/>
<FORM ACTION="/redmine_workload/timetable_update">
<input type ="hidden" name="date" value="<%= @current_date %>"/>
<input type ="hidden" name="user_id" value="<%= @current_user_id%>"/>
<INPUT TYPE="SUBMIT" value="<%= l(:submitdailyworkload_label) %>"/> [ TOTAL : <%= @hours_total / 8 %> / 1 <%= l(:daystoday_label) %> ]
<table>
<tr>
<td valign="top">

<H2><%= l(:loggedissuestoday_label) %></H2>
<DL>
<% 
if @logged_issues
@logged_issues.each do |issue_id,issue|
	%>
<%= 
		render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_task.html.erb'), :locals => { :issue => issue } %>
<BR/>
<%
end
end
%>
</DL>
<H2><%= l(:assignedissues_label) %></H2>
<DL>
<% @assigned_issues.each do |issue_id,issue|
	%>
<%= 
		render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_task.html.erb'), :locals => { :issue => issue } %>
<BR/>
	<%
end
%>
</DL>
</td>
<td valign="top">
<H2><%= l(:watchedissues_label) %></H2>
<DL>
<% @watched_issues.each do |issue_id,issue|
	%>
<%= 
		render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_task.html.erb'), :locals => { :issue => issue } %><BR/>
	<%
end
%>
</DL>
</td>
</tr>
</table>
<div align="center"><INPUT TYPE="SUBMIT" value="<%= l(:submitdailyworkload_label) %>"/></div>
</FORM>
