<H2><%= l(:update_label) %></H2>



<%= link_to l(:back_label), redmine_taskjuggler_workloads_path + "?user_id=" + @rtjwl.user_id.to_s + "&date=" + @rtjwl.current_date.to_s() %>

<H2 align="center">|-- <%= l(:present_label) %> --|</h2>
<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_table.html.erb'), :locals => { :date_debut => @rtjwl.current_date - 9, :date_fin => @rtjwl.current_date + 9 } %>

<H2 align="center">--&gt; <%= l(:future_label) %> --&gt;</h2>
<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_table.html.erb'), :locals => { :date_debut => @rtjwl.current_date + 10, :date_fin => @rtjwl.current_date + 29 } %>
<H2 align="center">&lt;-- <%= l(:past_label) %> &lt;--</h2>
<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_table.html.erb'), :locals => { :date_debut => @rtjwl.current_date - 29, :date_fin => @rtjwl.current_date - 10 } %>

<%= link_to l(:back_label), redmine_taskjuggler_workloads_path + "?user_id=" + @rtjwl.user_id.to_s + "&date=" + @rtjwl.current_date.to_s() %>

<H2>By Category</H2>

<%= render :file  => File.join(File.dirname(__FILE__), 'inc_timetable_cattable.html.erb'), :locals => { :date_debut => @rtjwl.current_date + 10, :date_fin => @rtjwl.current_date + 29 } %>